<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @purchase.description %>
</p>

<p>
  <strong>Delivered at:</strong>
  <%= @purchase.delivered_at %>
</p>

<%= display_invoice @purchase %>

<%= link_to 'Edit', edit_purchase_path(@purchase) %> |
<%= link_to 'Back', purchases_path %>
