<p id="notice"><%= flash[:notice] %></p>

<h1><%=t "views.product.header.show" %></h1>
<p>
  <strong><%= label(:product, :name) %>:</strong>
  <%= @product.name %>
</p>
<p>
  <strong><%= label(:product, :description) %>:</strong>
  <%= @product.description %>
</p>
<p>
  <strong><%= label(:product, :cost) %>:</strong>
  <%= number_to_currency @product.cost %>
</p>
<p>
  <strong><%= label(:product, :stock) %>:</strong>
  <%= number_with_delimiter @product.stock %>
</p>
<p>
  <strong><%= label(:product, :created_at) %>:</strong>
  <%=l @product.created_at %>
</p>

<h2>Related Purchases</h2>
<ul>
  <% @product.purchases.each do |purchase| %>
    <li><%= link_to purchase.description, purchase %></li>
  <% end %>
</ul>

<%= link_to 'Edit this record', edit_product_path(@product) %> <br>
<%= link_to 'Delete this record', @product,  
    data: { confirm: 'Are you sure?' }, method: :delete %> <br>
<%= link_to 'Back to List of Products', products_path %>